.lot-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.lot-actions__button {
    width: 6em;
    height: 3em;
}

.lot-actions__button:focus {
    outline: none;
}

.lot-actions__max-bet > label {
    font-weight: 700;
}

